* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}

/* Nawigacja */

.navbar {
	color: #333;
}

.navbar-brand {
	text-transform: uppercase;
	font-size: 1.8rem;
}

.navbar-toggler {
	font-size: 1.8rem;
}

i {
	font-size: 1.8rem;
}

.nav-link {
	color: black;
	/* font-weight: 600; */
	font-size: 1.8rem;
}

a.nav-link:hover {
	color: #333;
}

/* sekcja powitalna */
.home {
	position: relative;
	height: 60rem;
	background-image: url('../img/home/wilanow-small.jpg');
	background-size: cover;
	background-position: center;
	z-index: 0;
}

.home .btn {
	padding: 1em 2em;
	font-size: 1.4rem;
	text-transform: uppercase;
}

.home .welcome-text {
	font-size: 2.2rem;
}

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.carousel__btn {
	width: 4rem;
	height: 4rem;
	opacity: 1;
}

.carousel__btn:hover {
	opacity: 1;
}

.carousel__link {
	letter-spacing: 2px;
	text-decoration: none;
	color: #fff;
	font-size: 2.2rem;
}

.text-carousel {
	text-shadow: 5px 1px 10px black;
	font-weight: 700;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
	opacity: 1;
} */
